* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  min-height: 100vh;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1,
h2 {
  color: black;
}
.side-menu {
  position: fixed;
  background: #4682b4;
  width: 20vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.side-menu .brand-name {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-menu li {
  font-size: 24px;
  padding: 10px 40px;
  color: white;
  display: flex;
  align-items: center;
}
.side-menu li:hover {
  background: white;
  color: #f05462;
}
.side-menu.subnav {
  float: left;
  overflow: hidden;
}
.side-menu .subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.side-menu .subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}
.side-menu .subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}
.side-menu .subnav-content a:hover {
  background-color: #eee;
  color: black;
}
.side-menu .subnav:hover .subnav-content {
  display: block;
}
.side-menu .btn {
  background: #6082b6;
  color: white;
  height: 70px;
  width: 200px;
  display: inline-flex;
  left: 4%;
  top: 75%;
  position: fixed;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.side-menu .btn:hover {
  color: white;
  padding: 3px 8px;
  border: 2px solid #71797e;
}
.side-menu .btn .logout-text,
.side-menu .btn .logout-icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  height: 100%;
  width: 100%;
}
.side-menu .btn .logout-icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}
.container {
  position: fixed;
  right: 0;
  width: 80vw;
  height: 100vh;
  background: #e5e4e2;
}
.container .header {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 10vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container .header .logo {
  position: relative;
  max-width: 104px;
}
.container .header .nav {
  width: 90%;
  display: flex;
  align-items: center;
}
.container .header .nav .user {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .header .nav .user .user-image {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 2%;
}
.container .header .nav .user .user-image img {
  position: absolute;
  top: 0;
  left: 50;
  width: 100%;
  height: 100%;
}
.container .content {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  top: 150px;
}
