* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fefefe;
}
.circle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f4f007;
  clip-path: circle(600px at right 800px);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  position: relative;
  max-width: 150px;
}
header ul {
  position: relative;
  display: flex;
  margin-right: 170px;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: black;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
div.container {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
}
div.main {
  width: 308px;
  margin-top: 100px;
  display: block;
  border-radius: 5px;
  border: 2px solid #000;
  padding: 0px 50px 20px;
  font-family: "Raleway", sans-serif;
  margin-left: 300px;
}
div.container .imagebox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}
div.container .imagebox img {
  max-width: 340px;
}
#error {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
span {
  color: red;
}
h3 {
  background-color: #60bf22;
  padding: 32px;
  margin: 0 -50px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
b {
  font-size: 18px;
  display: block;
  /*background: linear-gradient(#f34525, #ed8e50);*/
}
label {
  color: black;
  font-size: 14px;
  font-weight: bold;
}
input[type="text"],
input[type="file"] {
  width: 96%;
  height: 25px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}
input[type="submit"],
input[type="reset"] {
  padding: 10px;
  border: 1px solid #f4f007;
  color: #000;
  cursor: pointer;
  width: 49.2%;
  border-radius: 2px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
}
input[type="button"] {
  padding: 10px;
  border: 1px solid #f4f007;
  color: #000;
  cursor: pointer;
  width: 49.5%;
  border-radius: 2px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background: linear-gradient(#f4f007 5%, #e5df23 100%);
}
